html,body,#root {
  height: 100%;
}
h1, p {
  font-family: Lato;
}
body {
    font-family: Russo One;
    background-color: #8d8d8d;
    margin: 0;
    
}
#root {
  display: flex;
}
#drum-machine {
  margin: auto;
  width: 100%;
  max-width: 660px;
  min-width: 300px;
  min-height: 10em;
  background-color: #b3b3b3;
  border: 5px solid orange;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  }
#toolBar {
  display: inline-block;
  text-align: right;
  width: 100%;
}
.content {
  display: grid;
  grid-template-columns: 50% 10% 40%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.content .pads {
  display: grid;
  min-width: 250px;
  max-width: 300px;
  box-sizing: border-box;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
}
.pads .drum-pad {
  border: none;
  font-weight: 500;
  box-shadow: 4px 4px 5px black;
  background-color: grey;
  padding: 25%;
  margin: 5px;
  border-radius: 5px;
}
.pads .drum-pad:hover {
  background-color: grey;
  cursor: pointer;
}
#control-container {
  max-width: 300px;
  vertical-align: top;
  grid-column-start: 3;
  box-sizing: border-box;
}
.select{
  display: block;
  background-color: black;
  height: 25px;
  width: 40%;
  min-width: 30px;
  max-width: 50px;
  position: inherit;
  margin: 15px auto;
  top: 5vh;
}
#display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10vh;
  background-color: gray;
  margin: 15px auto;
  box-sizing: border-box;
  
}
.rectangle {
  background-color: black;
  width: 20%;
  
}
.inner {
  float: right;
  width: 50%;
  height: 98%;
  margin: 0 auto;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}
.inner_left {
  float: left;
}
#volume-slider input {
  -webkit-appearance: none;
  margin: 12.5px 0;
  width: 100%;
}
@media screen and (max-width: 770px) {
  .content {
    display: flex;
    justify-content: space-around;
  }
}
.pads .drum-pad.active,
.pads .drum-pad:active:not([disabled]) {
  background-color: yellow;
}
[type=range] {
  -webkit-appearance: none;
  margin: 12.5px 0;
  width: 100%;
}
[type=range]:focus {
  outline: none;
}
[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #424242;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}
[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #424242;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
}
[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  transition: all .2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #353535;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-ms-fill-upper {
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #424242;
  border: 1px solid #000;
  border-radius: 0;
}
[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
}
[type=range]:focus::-ms-fill-lower {
  background: #424242;
}
[type=range]:focus::-ms-fill-upper {
  background: #4f4f4f;
}
